#row {
  background-image: url("landing.jpg");
}
.logo {
  text-align: center;
  padding-top: 60px
}
.h1 {
  color: white;
  font-family: cursive;
  text-align: center;

}
.h2 {
  color: white;
  font-family: cursive;
  text-align: center;
}
.p1 {
  background-color: #BDC3C7;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}
.pp {
  background-color: #E74C3C;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}
.padding {
  background-image: url("breakfast.jpg");
}
.p2 {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  color: white;
}
.p3 {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  color: white;
}
.padding1 {
  background-image: url("lunch.jpg");
}
.p4 {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  color: white;
}
.padding2 {
  background-image: url("dinner.jpg");
}
.padding3 {
  padding-left: 150px;
}
.padding4 {
  padding-right: 290px
}
.blank {
  padding-top: 75px
}
.blank2 {
  padding-top: 75px
}
.padding5 {
  padding-left: 290px
}
.padding6 {
  padding-right: 160px
}
